/* Alapbeállítások */
.game-info {
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
}

/* Szövegek és címsorok */
h1, h2 {
    color: #000000;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

/* Játékmódok blokk */
.mode-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.mode-card {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.mode-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 12px rgba(255, 255, 255, 0.3);
}
